.Container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: black;

}
.Map{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Title{
  color:wheat;
  margin: 20px 0 0 20px;
}


.Score{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  margin-right: 450px;
  
}
.ScoreIcon{
  width:20px;
  height:20px;
}

.BlueScore{
  color:royalblue;
}

.RedScore{
  color: red;
}
