.Container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}
.TimelineTitle{
    color:forestgreen;
    margin-bottom: 10px;
  }  

.Timeline{
    height: 500px;
    width: 400px;
    border: 1px solid forestgreen;
    flex-direction: column;
    overflow:scroll;
    background: black;
  }

  .New{
    display: flex;
    align-items: center;
    border-bottom: 1px solid forestgreen;
    height: 40px;
    color: wheat;
    margin: 0 10px 0 10px;
  }

  .Old{
    display: flex;
    align-items: center;
    border-bottom: 1px solid forestgreen;
    height: 40px;
    color: dimgray;
    margin: 0 10px 0 10px;
  }

  .BlueTeam{
    border: 2px solid blue;
    width: 25px;
    height: 25px;
    border-radius: 15px;
  }

  .RedTeam{
    border: 2px solid firebrick;
    width: 25px;
    height: 25px;
    border-radius: 15px;
  }


